/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

:root{
    --nb-raccourcis:4;
    --gap-raccourcis:1em;
    --dim-raccourcis:4em;
}

/* ---------------- Fond Ecran ---------------- */

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1s ease-in-out;
    scale: 1.03;
    filter: blur(8px);
}

.video-container:hover {
    transition: 1s ease-in-out;
    filter: blur(0px);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------- Content Container ---------------- */

.ContentContainer {
    max-width: 23em;
    position: absolute;
    transform: translate(-50%, 0);
    top: 20%;
    left: 50%;
    display: grid;
    grid-template-areas:
    "search search search search "
    "block1 block1 block1 block1 "
    "block1 block1 block1 block1 "
    "block2 block2 block2 block2 "
    "block2 block2 block2 block2 "
    "block3 block3 block3 block3 "
    "block3 block3 block3 block3 "
    "item_1 item_2 item_3 item_4 ";
    grid-gap: 0.5em;

}

/* ---------------- Raccourcis ---------------- */

.blockcontainerRaccourcis{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left:50%;
    transform: translateX(calc(-1*((var(--dim-raccourcis)*var(--nb-raccourcis) + var(--gap-raccourcis)*var(--nb-raccourcis))/2)));
    gap: var(--gap-raccourcis);
}

.blockcontainerRaccourcis1 {
    grid-area: block1;
}

.blockContainerRaccourcis2{
    grid-area: block2;
}

.blockContainerRaccourcis3{
    grid-area: block3;
}


.icone {
    transition: transform 0.5s ease-in-out;
}


.link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    height: 100%; /* Prend toute la hauteur du Raccourci */
    width:100%;
    text-decoration: none; /* Supprime le soulignement */
}

.Raccourci {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: var(--dim-raccourcis);
    width: var(--dim-raccourcis);
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

.Raccourci::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: opacity(0.3);
    z-index: -1;
}

.Raccourci:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    width: 8em;
}

.Raccourci:hover .icone {
    transition: transform 0.5s ease-in-out;
    transform: translateX(-20px);
}

.Raccourci:hover::before {
    filter: opacity(1);
}

.Raccourci_clair:hover::before{
    filter:opacity(0.3);
}

.raccourci_name {
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.8s; 
    position: absolute; 
    bottom:30%;
    left: 55%; 
    color: rgb(255, 255, 255); 
    white-space: nowrap;
}

.Raccourci:hover .raccourci_name {
    visibility: visible; 
    opacity: 1;
}

.icone_picture {
    height: 32px;
    width: 34px;
    overflow: hidden;
    object-fit: cover;
    object-position: left;
}

#twShortcut::before {
    background-image: url("../img/FondRaccourci/TwitchBackground.png");
}

#youtubeShortcut::before {
    background-image: url("../img/FondRaccourci/YtbBackground.png");
}

#GmailShortcut::before {
    background-image: url("../img/FondRaccourci/GmailBackground.png");
}

#UttShortcut::before {
    background-image: url("../img/FondRaccourci/UTTBackground.png");
}

#GitHubShortCut::before {
    background-image: url("../img/FondRaccourci/GitHubBackground.png");
}

#NotionShortCut::before {
    background-image: url("../img/FondRaccourci/NotionBackground.png");
}

#UttArenaShortCut::before {
    background-image: url("../img/FondRaccourci/UaBackground.png");
}

#ChatGPTShortCut::before {
    background-image: url("../img/FondRaccourci/ChatGPTBackground.png");
}

#RootmeShortCut::before {
    background-image: url("../img/FondRaccourci/RootmeBackground.png");
}

#TryHackMeShortCut::before {
    background-image: url("../img/FondRaccourci/TryhackmeBackground.png");
}

#GoogleAgendaShortCut::before {
    background-image: url("../img/FondRaccourci/GoogleAgendaBackground.png");
}


/* ----------------------------- Search bar ----------------------------- */

form {
    grid-area: search;
    border-radius: 10px;
    display: flex;
    position: relative;
    padding-bottom: 2%;
    justify-content: center;
}

input {
    width: 25em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    position: relative;
}

input:not(:placeholder-shown) {
    width: 20em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input:not(:placeholder-shown) + button {
    display: block;
}

button {
    width: 5em;
    border: 0;
    color: black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(200, 200, 200, 0.6);
    font-weight: bold;
    display: none;
    position: relative;
    top: 0;
    right: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}





