/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* ---------------- Fond Ecran ---------------- */
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}
.container{
    width: 100vw;
    height: 100vh;
    position:relative;
}

.video-container {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:1s ease-in-out;
    filter:blur(8px);
}

.video-container:hover {
    transition:1s ease-in-out;
    filter:blur(0px);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------- Raccourcis ---------------- */

.Raccourcis {
    #background-color: deepskyblue;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 2fr 2fr;
    grid-row-gap: 30%;
    grid-column-gap: 5%;
    word-wrap: break-word;
}

.Raccourci {
    display: grid;
    grid-template-columns:1fr 3fr ;
    grid-gap:1%;
    place-items: center;
    background-color:rgba(200,200,200,0.3);
    left:5%;
    border-radius: 10px;
}

.Raccourci:hover{
    cursor:pointer;
    transform: scale(1.01);
    background-color:rgba(255,255,255,0.8);
}


/* ----------------------------- Search bar ----------------------------- */

form {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 60%;
    border-radius: 10px;
    display:flex;
    position:relative;
}

input {
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.6);
    border-radius: 10px;
    padding:10px;
    border:none;
    outline:none;
    transition: all 0.3s;
    transition-property: width, border-radius;
    position:relative;
}

input:not(:placeholder-shown) {
    width: calc(100% - 10%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input:not(:placeholder-shown) + button {
    display: block;
}
button {
    width:10%;
    border: 0;
    color:black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color:rgba(200,200,200,0.6);
    font-weight: bold;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: all 0.3s;
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* ----------------------------- Icones ----------------------------- */

.icone {
    height:32px;
    width:34px;
    overflow: hidden;
    object-fit: cover;
    object-position: left;
}



