/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* ---------------- Fond Ecran ---------------- */

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}
.container{
    width: 100vw;
    height: 100vh;
    position:relative;
}

.video-container {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:1s ease-in-out;
    filter:blur(8px);
}

.video-container:hover {
    transition:1s ease-in-out;
    filter:blur(0px);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------- Content Container ---------------- */

.ContentContainer {
    position:absolute;
    transform: translate(-50%,0);
    top: 20%;
    left: 50%;
    display: grid;
    grid-template-areas:
    "search search search search search"
    "shortcut_1 shortcut_2 shortcut_3 shortcut_4 shortcut_5"
    "shortcut_6 shortcut_7 shortcut_8 shortcut_9 shortcut_10"
    "item_1 item_2 item_3 item_4 item_5";
    grid-gap: 1em;
}

/* ---------------- Raccourcis ---------------- */


.Raccourci {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height:4em;
    width:4em;
    border-radius: 10px;
    overflow: hidden;
    transition:0.5s ease-in-out;
    z-index:1;
    background-color: rgba(0,0,0,0.9);
}

.Raccourci::before {
    justify-self: center;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter:opacity(0.3);
    z-index: -1;
}

.Raccourci:hover{
    cursor:pointer;
    background-color: rgba(0,0,0,0);
    width:10em;
    transition:0.5s ease-in-out;

}

.Raccourci:hover::before {
    filter:opacity(1);
}

.icone {
    height:32px;
    width:34px;
    overflow: hidden;
    object-fit: cover;
    object-position: left;

}

#twShortcut::before {
    grid-area: shortcut_1;
    background-image: url("../img/FondRaccourci/TwitchBackground.png");
}

#youtubeShortcut::before {
    grid-area: shortcut_2;
    background-image: url("../img/FondRaccourci/YtbBackground.png");
}

#GmailShortcut::before {
    grid-area: shortcut_3;
    background-image: url("../img/FondRaccourci/GmailBackground.png");
}

#UttShortcut::before {
    grid-area: shortcut_4;
    background-image: url("../img/FondRaccourci/UTTBackground.png");
}
/* ----------------------------- Search bar ----------------------------- */

form {
    grid-area: search;
    border-radius: 10px;
    display:flex;
    position:relative;
    padding-bottom: 5%;
    justify-content: center;
}

input {
    width: 25em;
    height:100%;
    background-color:rgba(255,255,255,0.6);
    border-radius: 10px;
    padding:10px;
    border:none;
    outline:none;
    position:relative;
}

input:not(:placeholder-shown) {
    width: 20em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input:not(:placeholder-shown) + button {
    display: block;
}

button {
    width:5em;
    border: 0;
    color:black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color:rgba(200,200,200,0.6);
    font-weight: bold;
    display: none;
    position: relative;
    top: 0;
    right: 0;
}

button:hover{
    cursor: pointer;
    background-color:rgba(255,255,255,0.8);
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}





